@model IEnumerable<web_project.Models.Menu>

@{
    ViewData["Title"] = "menu";
}
<body style=" background-color: burlywood">
    <div class="container mt-5">
        <h1>Menu</h1>
        <button class="btn btn-success mb-4 m" onclick="scrollToSection('appetizers')">Appetizers</button>
        <button class="btn btn-success mb-4"onclick="scrollToSection('main_courses')">Main Courses</button>
        <button class="btn btn-success mb-4" onclick="scrollToSection('desserts')"> Desserts</button>
        <div class="row">
            <!-- Example menu items -->
             @if (Model != null)
            {
 <h3 id="appetizers">Apetizers</h3>
                @foreach (var item in Model)
                {
                   
                    @if (item.DishTypee.Equals("appetizer  ") == true)
                    {

                        <div class="card mb-2" style="background-color: blanchedalmond;">
                            <div class="row no-gutters" >
                                <div class="col-md-2">
                                    <img src="/pics/@item.Image" class="card-img" alt="Image">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h2 class="card-title">@item.DishName</h2>
                                        <p class="flex-grow-1">@item.DishDiscription</p>
                                        <div class="flex-grow-1">
                                            <p class="btn btn-success mt-auto">@item.Price EGP</p>
                                        </div>
                                        <!-- Other content or buttons here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <br>
                    }

                } <h3 id="main_courses">Main Courses</h3>
                @foreach (var item in Model)
                {
                   

                    @if (item.DishTypee.Equals("main course"))
                    {

                        
					<div class="card mb-2" style="background-color: blanchedalmond;">
                            <div class="row no-gutters">
                                <div class="col-md-2">
                                    <img src="/pics/@item.Image" class="card-img" alt="Image">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h2 class="card-title">@item.DishName</h2>
                                        <p class="flex-grow-1">@item.DishDiscription</p>
                                        <div class="flex-grow-1">
                                            <p class="btn btn-success mt-auto">@item.Price EGP</p>
                                        </div>
                                        <!-- Other content or buttons here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <br>
                    }

                }  <h3 id="desserts">Desserts</h3>
                @foreach (var item in Model)
                {

                  
                    @if (item.DishTypee.Equals("dessert    "))
                    {

                        <div class="card mb-2 " style="background-color: blanchedalmond;">
                            <div class="row no-gutters">
                                <div class="col-md-2">
                                    <img src="/pics/@item.Image" class="card-img" alt="Image">
                                </div>
                                <div class="col-md-10">
                                    <div class="card-body">
                                        <h2 class="card-title">@item.DishName</h2>
                                        <p class="flex-grow-1">@item.DishDiscription</p>
                                        <div class="flex-grow-1">
                                            <p class="btn btn-success mt-auto">@item.Price EGP</p>
                                        </div>
                                        <!-- Other content or buttons here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <br>
                    }

                }

            }
        </div>
</div>
  
</body>
<script src=~/js/JavaScript.js />